<div class="progress" style="margin: 0px; display:none" id="load-save">
    <div class="indeterminate"></div>
</div>

<div class="example-loading-shade"
*ngIf="isLoadingResults || isRateLimitReached">
<mat-spinner *ngIf="isLoadingResults"></mat-spinner>
<div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
    Erreur de chargement de données
</div>
</div>

<mz-card class="grey lighten-3 black-text" [hoverable]="true" style="margin:10px">
  <mz-card-title>
    Utilisateur
  </mz-card-title>
  <mz-card-content>
  
    <div class="table-container mat-elevation-z8">

        <div class="example-header">
            
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Recherche">
            
          </div>

      <mat-table #table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="select">
                <mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? masterToggle() : null "
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()">
                    </mat-checkbox>
                </mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(row) : null;show_delete()"
                                [checked]="selection.isSelected(row)">
                    </mat-checkbox>
                </mat-cell>
            </ng-container>
            
          <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="nom">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Nom </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.nom}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="login">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Login </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.login}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="serveur">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Point de vente </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.serveur}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="email">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
          </ng-container>
          



            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></mat-row>
      </mat-table>
      <mat-paginator #paginator
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]">
    </mat-paginator>
    </div>

    </mz-card-content>
</mz-card>


<mz-modal #bottomSheetModal [options]="modalOptions">
  <mz-modal-header>
    Ajouter un utilisateur
  </mz-modal-header>
  <mz-modal-content *ngIf="showLoad">
    <div class="preloader-wrapper big active" style="display: block;margin: auto;">
            <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div><div class="gap-patch">
                <div class="circle"></div>
            </div><div class="circle-clipper right">
                <div class="circle"></div>
            </div>
            </div>
    </div>
  </mz-modal-content>
  <mz-modal-content *ngIf="!showLoad">

        <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">home</i>
                    <select [(ngModel)]="user.serveur" (ngModelChange)="getUsers($event)" materialize="material_select">
                        <option value="" disabled selected>Choisir le point de vente</option>
                        <option *ngFor="let s of serveurs" [ngValue]="s.id">{{ s.name }}</option>
                    </select>
                    <label>Point de vente</label>
                </div>
        </div>
        
        <div class="preloader-wrapper big active" style="margin: auto;"  id="load-user">
                <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div><div class="gap-patch">
                    <div class="circle"></div>
                </div><div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
                </div>
        </div>

        
      
        <div class="row" id="autocompletuser">
            <div class="input-field col s12">
                <i class="material-icons prefix">people</i>
                <input type="text" id="autocomplete-input" class="autocomplete" >
                <label for="autocomplete-input">Utilisateur de odoo</label>
            </div>
        </div>


      


  </mz-modal-content>
  <mz-modal-footer>
    <button mz-button [flat]="true" mz-modal-close>Annuler</button>
    <button mz-button [flat]="true" mz-modal-close (click)="add()">Valider</button>
  </mz-modal-footer>
</mz-modal>




<!-- <button mz-button float=true >
  <i class="material-icons">add</i>
</button> -->

<a class="btn-floating btn-large" float=true id="btn-add-user" (click)="bottomSheetModal.open()">
        <i class="large material-icons">add</i>
</a>

<a class="btn-floating btn-large" float=true id="btn-delete-user" (click)="delete()">
    <i class="large material-icons">delete</i>
</a>



