<div class="progress" style="margin: 0px;display: none" id="load-auth">
  <div class="indeterminate"></div>
</div>
<div style="background-color:#ee6e73;position: absolute;display: block;width: 100%;height: 100%"> 

</div>
<div class="container">
  <div class="row">
      
    <mz-card class="blue-grey darken-1 white-text col s6 offset-s3" [hoverable]="true" id="login-block">
      <mz-card-content> 
          <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
            <div class="row">
                <mz-input-container >
                    <i mz-icon-mdi mz-input-prefix class="material-icons">person</i>
                    <input mz-input
                      [validate]="true"
                      [dataError]="'Login obligatoire'"
                      id="login-input"
                      label="Login"
                      type="text"
                      name="login"
                      [(ngModel)]="model.username"
                       #username="ngModel"
                       required
                       mz-validation
                      >
                </mz-input-container>
                <mz-input-container>
                    <i mz-icon-mdi mz-input-prefix class="material-icons">lock</i>
                    <input mz-input
                      [validate]="true"
                      [dataError]="'Mot de passe obligatoire'"
                      id="login-input"
                      label="Mot de passe"
                      type="password"
                      name = "password"
                      [(ngModel)]="model.password"
                       #password="ngModel"
                       required
                       mz-validation
                      >
                </mz-input-container>
            </div>
            <a>Mot de passe oublié</a>
            <div  class="row" style="margin-top:30px">
              <button mz-button class="col s12">
                    Se connecter 
              </button>
            </div>
          </form>
          
      </mz-card-content>

    </mz-card>
  </div>
</div>

