<div class="progress" style="margin: 0px; display:none" id="load-save">
    <div class="indeterminate"></div>
</div>

<div class="example-loading-shade"
*ngIf="isLoadingResults || isRateLimitReached">
<mat-spinner *ngIf="isLoadingResults"></mat-spinner>
<div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
    Erreur de chargement de données
</div>
</div>

<mz-card class="grey lighten-3 black-text" [hoverable]="true" style="margin:10px">
    
  <mz-card-title>
    Serveur
  </mz-card-title>
  <mz-card-content>
       
    <div class="table-container mat-elevation-z8">

        <div class="example-header">
            
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Recherche">
            
          </div>


    

      <mat-table #table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="select">
            <mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox>
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation();"
                            (change)="$event ? selection.toggle(row) : null; show_delete()"
                            [checked]="selection.isSelected(row)">
                </mat-checkbox>
            </mat-cell>
        </ng-container>

          <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Point de vente </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="adresse">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Adresse </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.adresse}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="port">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Port </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.port}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="description">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Description </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
          </ng-container>



            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"  (click)="selection.toggle(row)"></mat-row>
      </mat-table>
      <mat-paginator #paginator
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]">
    </mat-paginator>
    </div>

    </mz-card-content>
</mz-card>

<form name="form" (ngSubmit)="f.form.valid && save()" #f="ngForm" novalidate>
    <mz-modal #bottomSheetModal [options]="modalOptions" fixedFooter = true id="modal-add-serveur">
        
    <mz-modal-header>
      Ajouter un serveur
    </mz-modal-header>
    <mz-modal-content>
    <div class="row">
        <div class="col s12">
            <mz-input-container >
                <input mz-input
                    [validate]="true"
                    [dataError]="'Nom du point de vente est obligatoire'"
                    id="name-input"
                    label="Nom du point de vente"
                    type="text"
                    name="name"
                    [(ngModel)]="serveur.name" 
                    required
                    mz-validation
                    >
            </mz-input-container>
        </div>
    </div>
        
    <div class="row">
        <div class="col s6">
            <mz-input-container>
                <input mz-input
                    [validate]="true"
                    [dataError]="'Adresse doit commancer par http:// ou https://'"
                    id="adresse-input"
                    label="Adresse du serveur"
                    type="text"
                    name="adresse"
                    [(ngModel)]="serveur.adresse" 
                    (blur)="get_db_list()"
                    required 
                    pattern="(http|https)://.+"
                    mz-validation
                    >
            </mz-input-container>
        </div>
        <div class="col s6">
            <mz-input-container >
                <input mz-input
                    [validate]="true"
                    [dataError]="'Port non valide'"
                    id="port-input"
                    label="Port"
                    type="number"
                    [(ngModel)]="serveur.port" 
                    (blur)="get_db_list()"
                    name="port"
                    mz-validation
                    maxlength="4"
                    required
                    >
            </mz-input-container>
        </div>    
    </div>
    <div class="preloader-wrapper big active" style="display: block;margin: auto;" *ngIf="showLoad">
            <div class="spinner-layer spinner-blue-only">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
    </div>
    <div class="row add-serve-dbpass">
            <div class="input-field col s4">
                <select [(ngModel)]="serveur.db" name= "db">
                    <option value="" disabled selected>Choisir une base</option>
                    <option *ngFor="let db of dbList">{{ db }}</option>
                </select>
                <label>Base de données</label>
            </div>
            <div class="col s4">
                    <mz-input-container >
                            <input mz-input
                                [validate]="true"
                                [dataError]="'Port non valide'"
                                id="login-input"
                                label="Login"
                                type="text"
                                name="login"
                                [(ngModel)]="serveur.login" 
                                required
                                mz-validation
                                >
                    </mz-input-container>
            </div>
            <div class="col s4">
                    <mz-input-container >
                            <input mz-input
                                [validate]="true"
                                [dataError]="'Port non valide'"
                                id="password-input"
                                label="Password"
                                type="password"
                                name="password"
                                [(ngModel)]="serveur.password" 
                                required
                                mz-validation
                                >
                    </mz-input-container>
            </div>
    </div>
    <div class="row add-serve-dbpass">
            <div class="input-field col s12">
                    <textarea id="description" name="description" class="materialize-textarea" [(ngModel)]="serveur.description" ></textarea>
                    <label for="description">Description</label>
            </div>
    </div>
    

        


    </mz-modal-content>
    <mz-modal-footer>
      <button mz-modal-close (click)="cancelbtn = true" mz-button [flat]="true">Annuler</button>
      <button mz-modal-close  mz-button [flat]="true" [disabled]="!f.form.valid" *ngIf="!showAddBtn" (click)="save_change()">Valider</button>
      <button mz-button [flat]="true" [disabled]="!f.form.valid" mz-modal-close *ngIf="showAddBtn">Ajouter</button>
    </mz-modal-footer>

  </mz-modal>
</form>    
<!-- <button mz-button class="btn-floating btn-large" >
    <i class="large material-icons">add</i>
</button> -->
<a class="btn-floating btn-large" float=true id="btn-add-serveur" (click)="bottomSheetModal.open() ; showAddBtn = true ; ngOnInit()">
    <i class="large material-icons">add</i>
</a>



<div class="fixed-action-btn" id="btn-change-serveur">
    <a class="btn-floating btn-large">
      <i class="large material-icons">call_to_action</i>
    </a>
    <ul>
      <li><a class="btn-floating red"><i class="material-icons" (click)="get_info() ; bottomSheetModal.open()">mode_edit</i></a></li>
      <li><a class="btn-floating yellow darken-1" id="btn-delete-serveur" (click)="delete()"><i class="material-icons">delete</i></a></li>
    </ul>
  </div>