<!-- <mat-toolbar color="primary">
    <span>API ODOO</span>
</mat-toolbar> -->

<div *ngIf="showMenu">
    <mz-navbar>
        <!-- <button  class="button-collapse"> -->
                <mz-navbar-item-container [align]="'left'">
                    <mz-navbar-item><a id="btn-sidenav-demo"><i class="material-icons">menu</i></a></mz-navbar-item>
                </mz-navbar-item-container>
        <!-- </button> -->
        <a href="#" class="brand-logo"> API ODOO</a>
        <mz-navbar-item-container [align]="'right'">
        <mz-navbar-item><a href="#">Accueil</a></mz-navbar-item>
        <mz-navbar-item><a href="#">Documentation</a></mz-navbar-item>
        <mz-navbar-item><a routerLink="js">A propos</a></mz-navbar-item>
        </mz-navbar-item-container>
    </mz-navbar>


    <mz-sidenav [id]="'sidenav-demo'" [collapseButtonId]="'btn-sidenav-demo'"  #sidenav>
        <mz-sidenav-header>
                <img src="../assets/nav-header.png" style="width:100%"/>
        </mz-sidenav-header>
        <mz-sidenav-subheader>Menu</mz-sidenav-subheader>
        <mz-sidenav-link [active]="active">
            <a routerLink="/app/serveur" class="waves-effect" (click)="sidenav.opened = !sidenav.opened ; active = !active"><i class="material-icons">public</i> Serveur</a>
        </mz-sidenav-link>
        <mz-sidenav-link [active]="!active">
            <a routerLink="/app/userodoo" class="waves-effect" (click)="sidenav.opened = !sidenav.opened ; active = !active"><i class="material-icons">person</i>Utilisateur</a>
        </mz-sidenav-link>
        <mz-sidenav-divider></mz-sidenav-divider>
        <mz-sidenav-link [active]="!active">
                <a routerLink="/auth" class="waves-effect" ><i class="material-icons">power_settings_new</i>Déconnexion</a>
        </mz-sidenav-link>
    </mz-sidenav>
</div>

<router-outlet></router-outlet> 
<footer class="page-footer">
    <div class="footer-copyright">
      <div class="container">
      © 2018 Copyright Madasofware
      </div>
    </div>
  </footer>
      