/* You can add global styles to this file, and also import other style files */
#btn-add-serveur , #btn-add-user , #btn-delete-user , #btn-change-serveur{
    position: absolute;
    right: 2%;
    bottom: 5%;
}


.add-serve-dbpass{
    display:none
}

.fill{
    width: 100%;
    height: 100%;
    display: inline-block;
}

.page-footer{
    position: absolute;
    width: 100%;
    bottom: 0px

}

.example-header[_ngcontent-c8]{
    background-color: white
}